.footer__column-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}

.footer__column-link:last-child {
  margin-bottom: 0;
}

.footer__column-link:hover {
  opacity: .5;
  transition: .3s;
}
